ODOO_UPGRADER_JOB_NAMESPACE=odoo-upgrader
ODOO_UPGRADER_JOB_DOMAIN=upgrade.example.com
ODOO_UPGRADER_UPGRADE_PATHS='{"generic": {"manifest_dir": "manifests/generic", "steps": []}}'
ODOO_UPGRADER_JOB_ENV='{"PGHOST": "db.odoo-upgrader.svc.cluster.local", "PGPORT": "5432", "PGUSER": "odoo"}'
ODOO_UPGRADER_JOB_SECRET_ENV='{"PGPASSWORD": "odoo"}'
ODOO_UPGRADER_S3__BUCKET=odoo-upgrader
ODOO_UPGRADER_S3__ACCESS_KEY=access-key
ODOO_UPGRADER_S3__SECRET_KEY=secret
ODOO_UPGRADER_S3__ENDPOINT=s3.example.com

ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__JOB_ENV='{"TARGET_PGHOST": "db.myodoo.svc.cluster.local", "TARGET_PGPORT": "5432", "TARGET_PGUSER": "odoo", "TARGET_PGDATABASE": "odoo", "TARGET_DEPLOYMENT": "odoo", "TARGET_NAMESPACE": "myodoo", "TARGET_CONTAINER": "odoo"}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__JOB_SECRET_ENV='{"TARGET_PGPASSWORD": "odoo"}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__10='{"name": "restore-from-db", "template": "restore-from-db", "args": {"image": "ghcr.io/onesteinbv/openupgrade-docker:16.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__11='{"name": "prepare", "args": {"repo": "https://github.com/myodoo/upgrade-scripts.git", "branch": "main", "directory": "16.0", "image": "ghcr.io/onesteinbv/openupgrade-docker:16.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__12='{"name": "migrate-to-17", "args": {"repo": "https://github.com/myodoo/upgrade-scripts.git", "branch": "main", "directory": "17.0", "image": "ghcr.io/onesteinbv/openupgrade-docker:17.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__13='{"name": "migrate-to-18", "args": {"repo": "https://github.com/myodoo/upgrade-scripts.git", "branch": "main", "directory": "18.0", "image": "ghcr.io/onesteinbv/openupgrade-docker:18.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__14='{"name": "init-changelog", "template": "initialize-changelog", "args": {"image": "ghcr.io/onesteinbv/openupgrade-docker:18.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__15='{"name": "deployment", "template": "deployment", "args": {"command": "deploy", "manifests_dir": "manifests/generic/deployment", "repo": "https://github.com/myodoo/upgrade-scripts.git", "branch": "main", "directory": "18.0", "image": "ghcr.io/onesteinbv/openupgrade-docker:18.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__16='{"name": "wait-approval", "template": "wait-approval"}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__17='{"name": "scale-down-deployment", "template": "scale-deployment", "args": {"replicas": "0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__18='{"name": "live-restore-from-db", "template": "restore-from-db", "args": {"image": "ghcr.io/onesteinbv/openupgrade-docker:16.0", "mode": "live"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__19='{"name": "live-prepare", "args": {"repo": "https://github.com/myodoo/upgrade-scripts.git", "branch": "main", "directory": "16.0", "image": "ghcr.io/onesteinbv/openupgrade-docker:16.0", "mode": "live"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__20='{"name": "live-migrate-to-17", "args": {"repo": "https://github.com/myodoo/upgrade-scripts.git", "branch": "main", "directory": "17.0", "image": "ghcr.io/onesteinbv/openupgrade-docker:17.0", "mode": "live"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__21='{"name": "live-migrate-to-18", "args": {"repo": "https://github.com/myodoo/upgrade-scripts.git", "branch": "main", "directory": "18.0", "image": "ghcr.io/onesteinbv/openupgrade-docker:18.0", "mode": "live"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__22='{"name": "live-replay-changelog", "template": "replay-changelog", "args": {"image": "ghcr.io/onesteinbv/openupgrade-docker:18.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__23='{"name": "move-db", "template": "move-db", "args": {"image": "ghcr.io/onesteinbv/openupgrade-docker:18.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__24='{"name": "update-image", "template": "update-image", "args": {"image": "ghcr.io/myodoo/odoo:18.0"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__25='{"name": "scale-up-deployment", "template": "scale-deployment", "args": {"replicas": "1"}}'
ODOO_UPGRADER_UPGRADE_PATHS__GENERIC__STEPS__26='{"name": "live-wait-approval", "template": "wait-approval"}'
