apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ job.id }}-{{ args['mode'] }}"
spec:
  rules:
    - host: "{{ job.id }}-{{ args['mode'] }}.{{ job_domain }}"
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: "svc-{{ job.id }}-{{ args['mode'] }}"
                port:
                  name: http
          - pathType: ImplementationSpecific
            path: "/websocket"
            backend:
              service:
                name: "svc-{{ job.id }}-{{ args['mode'] }}"
                port:
                  name: websocket
  tls: 
  - hosts: 
    - "{{ job.id }}-{{ args['mode'] }}.{{ job_domain }}"
    secretName: "{{ job.id }}-{{ args['mode'] }}.{{ job_domain }}-tls"
