apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ job.id }}-{{ args['mode'] }}"
spec:
  resources:
    requests:
      storage: 3Gi
    limits:
      storage: 4Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
