<!doctype html>
<html lang="en">
    <head>
        <title>Upgrade Status</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
        >
        <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/js/all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/fontawesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
    </head>
    <body>
        <script type="module">
            let apiKey = localStorage.getItem("api-key");

            if (!apiKey) {
                apiKey = prompt("API Key");
                localStorage.setItem("api-key", apiKey);
            }

            import { LitElement, html } from 'https://esm.sh/lit@3.1.2';	
            import { ifDefined } from 'https://esm.sh/lit@3.1.2/directives/if-defined.js';

            class UpgradeProgress extends LitElement {
                static properties = {
                    progress: {type: Number},
                    state: {type: String},
                    jobId: {type: String},
                    job: {state: true, attribute: false}
                }

                constructor() {
                    super();
                    this.job = {};
                    this.eventSource = null;
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.eventSource = new EventSource(`/api/v1/events?api_key=${apiKey}`);
                    this.eventSource.addEventListener("job:updated", this.onJobUpdated.bind(this));
                    
                    window.addEventListener("beforeunload", this._handleUnload);
                }
                
                firstUpdated() {
                    this.job = { 
                        progress: this.progress, 
                        id: this.jobId,
                        state: this.state
                    };
                    this.getJob().then(job => this.job = job);
                }

                disconnectedCallback() {
                    window.removeEventListener("beforeunload", this._handleUnload);
                    if (this.eventSource) {
                        this.eventSource.close();
                    }
                    super.disconnectedCallback();
                }

                _handleUnload() {
                    if (this.eventSource) {
                        this.eventSource.close();
                    }
                }

                onJobUpdated(e) {
                    const eventData = JSON.parse(e.data);
                    if (this.jobId != eventData.id) return;
                    
                    this.job = { ...this.job, ...eventData };
                }

                async getJob() {
                    const res = await fetch(`/api/v1/jobs/${this.jobId}`, {headers: {"X-API-Key": apiKey}});
                    return res.json();
                }

                createRenderRoot() {
                    return this;
                }

                onDownloadClicked() {
                    const withArtifacts = this.job.steps.filter(s => s.artifacts.length);
                    console.log(withArtifacts);
                    const stepId = withArtifacts[withArtifacts.length - 1].id;
                    window.open(`/api/v1/jobs/${this.job.id}/${stepId}/download/result?api_key=${apiKey}`);
                }
                
                render() {
                    return html`
                        <div class="is-flex is-align-items-center">
                            <div class="is-flex-grow-1"><upgrade-progress-bar .job=${this.job}></upgrade-progress-bar></div>
                            <div><state-icon .state=${this.job.state}></state-icon></div>
                        </div>
                        ${this.job.state == "succeeded" && html`
                            <div class="notification is-success mt-4">
                                <i class="fas fa-check"></i> <b>Upgrade succeeded!</b> Click the button below to download the upgraded database.
                            </div>
                            <button class="button is-large" @click="${this.onDownloadClicked}">
                                <span class="icon">
                                    <i class="fas fa-download" aria-hidden="true"></i>
                                </span>
                            </button>
                        ` || ""}
                        ${this.job.state == "failed" && html`
                            <div class="notification is-danger mt-4">
                                <i class="fas fa-heart-crack"></i> <b>Upgrade failed</b>
                            </div>
                        ` || ""}
                    `
                }
            }

            class UpgradeProgressBar extends LitElement {
                static properties = {
                    job: {state: true}
                }

                createRenderRoot() {
                    return this;
                }

                render() {
                    const extraClasses = this.getStateClasses();
                    let progress = this.job.progress;
                    if (this.job.state == "failed") {
                        progress = 1;
                    }

                    if (progress == 0) {
                        progress = 0.01;
                    }

                    return html`
                        <progress class="progress is-large ${extraClasses}" value="${ifDefined(["pending", "dispatched"].includes(this.job.state) ? undefined : progress)}" max="1"></progress>
                    `;
                }

                getStateClasses() {
                    return this.job.state == "pending" && "is-info" 
                        || this.job.state == "dispatched" && "is-info"
                        || this.job.state == "in_progress" && "is-primary"
                        || this.job.state == "failed" && "is-danger"
                        || this.job.state == "succeeded" && "is-success"
                        || this.job.state == "suspended" && "is-warning" 
                        || ""
                }
            };

            class StateIcon extends LitElement {
                static properties = {
                    state: { type: String, state: true }
                }

                createRenderRoot() {
                    return this;
                }

                render() {
                    return html`
                        <span class="icon is-large">
                            ${this.state == "pending" && html`
                                <i class="fas fa-circle has-text-info" aria-hidden="true"></i>
                            ` || this.state == "dispatched" && html`
                                <i class="fas fa-circle has-text-info" aria-hidden="true"></i>
                            ` || this.state == "in_progress" && html`
                                <i class="fas fa-circle-notch fa-spin has-text-primary" aria-hidden="true"></i>
                            ` || this.state == "failed" && html`
                                <i class="fas fa-circle has-text-danger" aria-hidden="true"></i>
                            ` || this.state == "succeeded" && html`
                                <i class="fas fa-circle has-text-success" aria-hidden="true"></i>
                            ` || this.state == "suspended" && html`
                                <i class="fas fa-pause has-text-warning" aria-hidden="true"></i>
                            `}
                        </span>
                    `;
                }
            }


            customElements.define("state-icon", StateIcon);
            customElements.define("upgrade-progress", UpgradeProgress);
            customElements.define("upgrade-progress-bar", UpgradeProgressBar);
        </script>
        <section class="hero is-medium is-primary">
            <div class="hero-body has-text-centered">
                <p class="title">Upgrade Status</p>
            </div>
        </section>
        <section class="section">
            <div class="container has-text-centered">
                <upgrade-progress jobId="{{ job.id }}" progress="{{ job.progress }}"></upgrade-progress>
            </div>
        </section>
    </body>
</html>
